body{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /*domyślnie*/
    justify-content: flex-end; /*domyślnie flex-start*/
}

body > * {
    flex-shrink: 1; /*wartość domyślna*/
}



/*
.box:nth-child(3){
    flex-shrink: 0;
}
*/